html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

h1, h2, h3, p, p2, a {
	font-family: 'Axiforma Book';
	margin: 0;
	color: white;
	font-weight: normal;
	text-shadow: 5px 5px 8px var(--cl-shadow);
}

p {
	word-break: break-all; 
	font-size: 16pt;
}

p2 {
	word-break: break-word; 
	font-size: 10pt;
}

h2 {
	font-size: 1.2em;
}

h1 {
	font-size: 40pt;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	min-width: 60px;
	min-height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.flex {
	display: flex;
	flex-direction: row;
}

.flex-fill {
	flex: 1;
	width: 100%;
	height: 100%;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-hcenter {
	align-items: center;
}

.flex-vcenter {
	justify-content: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

#root {
	width: 100%;
	height: 100%;
	background-color: var(--cl-default);
}

.rainbow-background {
	animation-name: background;
	animation-duration: 60s;
	animation-iteration-count: infinite;
}

@keyframes background {
	0% {background-color:#E74C3C;}
	20% {background-color:#9B59B6;}
	40% {background-color:#3498DB;}
	60% {background-color:#2ECC71;}
	80% {background-color:#E67E22;}
	100% {background-color:#E74C3C;}
}

playerunit {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	background-color: var(--cl-box);
	border-radius: 2em;
	padding: 0.5em;
}

categoryunit {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	background-color: var(--cl-box);
	border-radius: 2em;
	padding: 0.55em;
}

body {
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar { 
	display: none;  /* Safari and Chrome */
}

.category-image {
	height: 60px;
	min-width: 60px;
	background-size: 100% 100%;
	margin-right: 10px;
}

.category-description {
	color: rgba(255, 255, 255, 0.8);
}

.category-id {
	display: none;
}

.list-view {
	border-radius: 2em;
	width: 85%;
	padding: 0.5em;
	border: 1px var(--cl-marker) solid;
	overflow-y: scroll;
}

.fill-view {
	height: 100%;
	width: 100%;
}
