<div class="flex-column flex-center flex-fill fill-view">
	<h1 id="player-name">Player Name</h1>
	<div id="task-view" class="flex-fill">
		<h2 id="task-string"></h2>
	</div>
	<div id="control-panel">
		<button class="green" disabled="true" style="margin-right: 2em;">Complete task</button>
		<button id="drink-button" class="orange" disabled="true" style="margin-right: 2em;">Drink x sips</button>
		<button class="red" disabled="true" style="margin-right: 2em;">Lose a heart</button>
	</div>
	<script src="./scripts/game.js" type="text/javascript" charset="utf-8"></script>
</div>