<div class="flex-column flex-center flex-fill fill-view">
	<h1 id="player-name">Player Name</h1>
	<div class="flex-row" style="width: 100%;">
		<div class="ui-element flex-row flex-center" style="margin-left: 2em;">
			<div id="sip-image" class="ui-img"></div>
			<div class="flex-fill" style="height: 10px; min-width: 10px;"></div>
			<h2 id="sips-string"></h2>
		</div>
		<div class="flex-fill"></div>
		<div class="ui-element flex-row flex-center" style="margin-right: 2em;">
			<div id="heart-image" class="ui-img"></div>
			<div class="flex-fill" style="height: 10px; min-width: 10px;"></div>
			<h2 id="heart-string"></h2>
		</div>
	</div>
	<div id="task-view" class="flex-column flex-center text-center flex-fill">
		<h2 id="task-string"></h2>
	</div>
	<div id="control-panel" class="flex-row" style="margin: 0.5em;">
		<button id="task-button" class="green" disabled="true" style="margin-right: 0.4em;" onclick="Game.decisionMade('task');">Do task</button>
		<button id="drink-button" class="orange" disabled="true" style="margin-right: 0.4em; width: 80%;" onclick="Game.decisionMade('drink');">Drink -1</button>
		<button id="heart-button" class="red" disabled="true" style="margin-right: 0.4em;" onclick="Game.decisionMade('heart');">Lose heart</button>
	</div>
	<script>
		Game.generateRandomizer()
		Game.compileTasks()
		Game.playRound()
	</script>
</div>