<div class="ui-element text-center" style="max-width: 500px; width: 80%;">
	<h1>RIP</h1>
	<p style="word-break: break-word; margin-bottom: 1em;">Oh no - you seem to have died... </br>You can resurrect yourself back into the running by downing your drink or take a big fat loss (but continue to play anyway).</p>
	<div class="flex-row flex-center">
		<button class="green" onclick="Game.playerResurrect()" style="margin-right: 2em;">Resurrect</button>
		<button class="red" onclick="Game.playerStayDead()">Stay dead</button>
	</div>
</div>